
@font-face {
  font-family: 'THSarabunNew-Bold';
  src: url('THSarabunNew-Bold.eot?#iefix') format('embedded-opentype'),  url('THSarabunNew-Bold.woff') format('woff'), url('THSarabunNew-Bold.ttf')  format('truetype'), url('THSarabunNew-Bold.svg#THSarabunNew-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
