
    @font-face {
        font-family: 'THSarabunNew';
        src: 
            url('../fonts/generate-normal/THSarabunNew.eot?#iefix') format('embedded-opentype'),  
            url('../fonts/generate-normal/THSarabunNew.woff') format('woff'), 
            url('../fonts/generate-normal/THSarabunNew.ttf')  format('truetype'), 
            url('../fonts/generate-normal/THSarabunNew.svg#THSarabunNew') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    

    body{ background-color: #D3BDA5; font-family: 'Helvetica','tahoma';  }

    a{ text-decoration: none;}
    p{ margin: 0 0 10px 0; }
    strong{ font-weight: bold; }

    .container{ width: 980px; margin: 0 auto; position: relative; }
    .container-sub{ width: 669px; margin: 0 auto; position: relative; }

    .pull-right{ float: right; }
    .pull-left{ float: left; }

    .clearfix{clear: both;}

    .brand{ text-align: center; margin: 76px 0 56px; }
    .brand .brand-logo{ z-index: 2; position: relative; }

    .line-top{ position: absolute; top: -76px; z-index: 1; }
    .line-bottom{ position: absolute; top: 26px; z-index: 1; left: 0; }
    .font-page-line{ top: -3px; } 

    .pager .bx-next{ background-color: #4F4141; padding: 25px 12px; position: absolute; top: 170px; }
    .pager .bx-prev{ background-color: #4F4141; padding: 25px 12px; position: absolute; top: 170px; right: 0; }
    .pager i{ color: #D3BDA6; }
    .pager a{ color: #D3BDA6; }

    .primary{ position: relative; z-index: 1; }

    .navigator{ background-color: #555555; text-transform: uppercase; font-size: .8em; letter-spacing: 1px; position: relative; z-index: 2; }
    .navigator ul{ margin: 0; padding: 0; border: 0; position: relative; }
    .navigator li{ float: left; }
    .navigator a,.navigator a:visited{ color: #E3CBB1; padding: 6px 23px; display: inline-block; }
    .navigator a:hover,.navigator a.active{ color: #fff; }
    .navigator .sticky{ position: absolute; right: 0; background: #555555; font-size: 1.4em; z-index: 99; }
    .navigator .sticky a{ padding: 16px 18px; text-shadow: 1px 1px 1px rgba(150, 150, 150, 1); -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75); -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75); box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75); }

    .entry-social{ position: absolute; right: 0; top: -30px; z-index: 99; }
    .entry-social ul{ margin: 0; padding: 0; border: 0;}
    .entry-social li{ padding: 0 5px; }
    .entry-social a{ padding: 0; }
    .entry-social i{ color: #555; }

    .footer-details{ margin: 35px 0 40px; text-align: center; color: #454746; font-size: 12px; }

    .page-title{ background-color: #726D69; }
    .page-title h1{ height: 16px; line-height: 16px; padding: 5px 35px; margin: 0; font-size: 16px; letter-spacing: 1px; color: #E3CBB1; text-transform: uppercase; font-family: 'Helvetica','tahoma'; }

    .entry-content{ padding: 20px 35px 5px; color: #111; font-size: 23px; line-height: 1.3; font-family: 'THSarabunNew','Helvetica','tahoma'; position: relative; z-index: 10; }
    .entry-content strong{ font-weight: normal; font-size: 40px; padding-right: 10px; }
    .entry-content p{ margin-bottom: 20px; }
    .entry-content ul{ padding-left: 60px; }
    .entry-content li:before { content: "•"; padding-right: 10px; }
    .entry-content h1{ font-size: 34px; font-family: 'Helvetica','tahoma'; font-weight: bold; color: #555; line-height: 1.1; display: inline-block; }
    .entry-content em{ display: block; font-style: italic; font-size: .6em; position: relative; left: 40px; }
    .entry-content .entry-top{ font-family: 'Helvetica','tahoma'; margin-bottom: 60px; font-size: 11px; line-height: 23px; color: #555; }
    .entry-content .entry-bottom{ font-family: 'Helvetica','tahoma'; font-size: 11px; line-height: 23px; margin-bottom: 60px; color: #555; }
    .entry-content .showing-fac-top{ float: right; }
    .entry-content .showing-fac-bot{ float: left; padding-right: 60px; font-size: 11px; }

    .entry-gallery{ border-bottom: 4px solid #555; border-top: 4px solid #555; padding: 12px 0; margin: 0 35px; position: relative; z-index: 2; }
    .entry-gallery ul{ padding: 0; margin: 0; border: 0;}
    .entry-gallery li{ float: left; }

    .entry-main-gallery{ margin: 30px 0; text-align: center; color: #72665A; }
    .entry-main-gallery .entry-sub-gellery{ width: 243px; float: left; border: 1px solid #555555; margin: 0 29px; min-height: 130px; }
    .entry-main-gallery .article-title{ font-size: 1em; letter-spacing: 1px; text-transform: uppercase; font-weight: bold; margin: 15px 0; }
    .entry-main-gallery .article-image{ text-align: center; }
    .entry-main-gallery p{ font-style: italic; font-weight: bold; font-size: .9em; }
    .entry-main-gallery a{ color: inherit; }


    .entry-showing-sub .entry-showing-title{ 
        float: left; width: 30%; min-height: 260px; color: #F9C653; position: relative;
        background: rgba(99,99,99,1);
        background: -moz-linear-gradient(left, rgba(99,99,99,1) 0%, rgba(83,83,83,1) 75%, rgba(67,67,67,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(99,99,99,1)), color-stop(75%, rgba(83,83,83,1)), color-stop(100%, rgba(67,67,67,1)));
        background: -webkit-linear-gradient(left, rgba(99,99,99,1) 0%, rgba(83,83,83,1) 75%, rgba(67,67,67,1) 100%);
        background: -o-linear-gradient(left, rgba(99,99,99,1) 0%, rgba(83,83,83,1) 75%, rgba(67,67,67,1) 100%);
        background: -ms-linear-gradient(left, rgba(99,99,99,1) 0%, rgba(83,83,83,1) 75%, rgba(67,67,67,1) 100%);
        background: linear-gradient(to right, rgba(99,99,99,1) 0%, rgba(83,83,83,1) 75%, rgba(67,67,67,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#434343', GradientType=1 );
    }
    .entry-showing-sub .entry-showing-desc{ float: right; width: 70%; min-height: 260px; background-color: #636363; color: #fff; font-size: 1.4em; line-height: 1.3em; font-family: 'THSarabunNew','Helvetica','tahoma'; }
    .entry-showing-top{ padding: 24px 24px 12px; font-size: .9em; text-transform: uppercase; letter-spacing: 1px; line-height: 1.6; }
    .entry-showing-bottom{ position: absolute; padding: 12px 24px; bottom: 10px;}
    .entry-showing-room{ padding: 24px 24px 12px; }
    .entry-showing-details{ padding: 12px 24px; }

    .entry-data-table{ text-align: center; width: 94%; margin: 40px auto 20px; color: #5D4732; }
    .entry-data-table thead{ border-bottom: 3px solid #666; text-transform: uppercase; }
    .entry-data-table tbody{ border-bottom: 3px solid #666; text-transform: uppercase; }
    .entry-data-table th{ border-bottom: 2px solid #B3A290; border-right: 2px solid #B3A290; }
    .entry-data-table th:last-child{ border-right: 0; }
    .entry-data-table td{ width: 25% ; padding: 10px 0; border-bottom: 2px solid #B3A290; border-right: 2px solid #B3A290; font-family: 'Helvetica','tahoma'; }
    .entry-data-table td:last-child{ border-right: 0; }
    .entry-data-table strong{ font-weight: bold; font-size: .7em; color: #515652; }

    .entry-toggle-term{ margin-right: 90px; cursor: pointer; }
    
    .entry-terms{ width: 94%; margin: 10px auto 20px; background-color: #877A67; font-family: 'Helvetica','tahoma'; position: relative; display: none; }
    .entry-terms p{ margin: 0; }
    .entry-terms-contact{ background-color: #341E10; border-bottom: 2px solid #867966; padding: 10px 20px; color: #fff; font-size: 13px;}
    .entry-terms-title{ padding: 10px 20px; background-color: #555; border-bottom: 5px solid #35200F; color: #FDF0DF; text-transform: uppercase; letter-spacing: 1px; }
    .entry-terms-contents{ padding: 10px 20px; color: #BAAE7A; font-size: .64em; }
    .entry-terms-contents ul{ padding: 0; }
    .entry-terms-contents li { border-bottom: 1px dashed #BAAE7A; padding: 5px 0; }
    .entry-terms-contents li:before { content: "•"; padding-right: 10px; }
    .closed-button{ position: absolute;right: 0; top: -28px; cursor: pointer; }
    .closed-button i{ color: #636361; }

    .entry-contact{ margin: 40px 0 30px; }
    .contact-logo{ float: left; width: 29%; height: 206px; border-right: 2px solid #726658; }
    .contact-logo-top{ padding: 0 50px 50px 0; }
    .contact-logo img{ max-width: 100%; }
    .contact-details{ float: left; width: 49%; height: 206px; border-right: 2px solid #726658; }
    .contact-content{ padding: 15px 30px 0 30px; }
    .contact-content p { margin-bottom: 10px; }
    .contact-content strong{ font-weight: bold; font-size: 1em; }
    .contact-map{ float: left; width: 21%; height: 206px; text-align: right; }

    .entry-booking{ border-bottom: 4px solid #555555; padding-bottom: 50px; position: relative; }
    .bg-booking{ position: absolute; z-index: 1; }
    .entry-form{ left: 32px; top: 18px; position: relative; width: 872px; border: 3px solid #70665C; padding-bottom: 15px; }
   
    .form-control{ width: 480px; margin-top: 24px; float: right; padding-bottom: 10px; }
    .form-row{ font-family: 'Helvetica','tahoma'; font-size: .6em; margin-bottom: 3px; }
    .form-row select{ background-color: #D3BDA5; border: 1px solid #000; height: 24px; float: left; margin-right: 5px; }
    .form-row label{ width: 130px; float: left; text-align: right; padding-right: 10px; text-transform: uppercase; }
    .form-row input{ float: left;  height: 20px; background-color: #D3BDA5; margin-right: 5px; border: 1px solid #000; padding-left: 5px; } 
    .form-row .width-20{ width: 104px; }
    .form-row .width-30{ width: 74px; }
    .form-row .width-50{ width: 144px; }
    .form-row .width-80{ width: 191px; }
    .form-row .width-100{ width: 300px; }
    .form-row .selected-width.width-30{ width: 81px; }
    .form-row .selected-width.width-100{ width: 307px; }
    .form-row textarea{ width: 300px; background-color: #D3BDA5; border: 1px solid #000; }
    .form-row-end{ position: absolute; bottom: -15px; right: 33px; }
    .form-row-end button{ background-color: #000; color: #D2BCA5; border: 0; padding: 5px 15px; text-transform: uppercase; cursor: pointer; }
    .form-row-end button:first-child{ margin-right: 20px; }
    .form-row span.width-50{ height: 20px; display: block; float: left; width: 150px; text-align: center; text-transform: uppercase; }

    .event-gallery{ display: none; }
    .event-gallery.active{ display: block; }

    .entry-page-gallery{ min-height: 530px; padding: 20px 35px 5px; position: relative; z-index: 1;  }
    .entry-page-gallery h1{ padding-left:40px; font-size: 2em; font-style: italic; letter-spacing: 3px; text-transform: uppercase; color: #555; margin-bottom: 20px; }
    .entry-page-gallery .entry-tab-menu{ position: absolute; bottom: 40px; background-color: #D3BDA5; }
    .entry-page-gallery i{ padding-right: 10px; color: #555; display: none;}
    .entry-page-gallery ul{ padding: 0 0 0 40px; margin: 0; border: 0; }
    .entry-page-gallery li{ text-transform: uppercase; padding: 5px 0; position: relative; cursor: pointer; }
    .entry-page-gallery li:hover{ font-weight: bold; }
    .entry-page-gallery li:hover i{ display: inline-block; position: absolute; left: -20px; }
    .entry-page-gallery a{ color: #555;  }

    .entry-page-gallery li.active{ font-weight: bold; }
    .entry-page-gallery .active i{ display: inline-block; position: absolute; left: -20px; }
    
    
    .entry-gallery-slider{ width: 820px; float: right; overflow-x: hidden; }
    .entry-gallery-slider .bx-viewport{ height: 450px !important; }
    .entry-gallery-slider .bx-wrapper{ background: none; }
    .entry-gallery-slider .bx-wrapper .bx-pager{ position: absolute; bottom: 30px; right: 0; } 
    .entry-boxes { position: relative;  }
    .shape{ display: inline-block; position: absolute; }
    .shape-1{ z-index: 3; }
    .shape-3{ z-index: 4; }
    .shape-2, .shape-4{ z-index: 5; }
    

    .shape-1{ top: 59px; left: 30px; }
    .shape-2{ right: 363px; top: 116px; border-left: 14px solid #D3BDA5; border-top: 14px solid #D3BDA5; border-right: 14px solid #D3BDA5; }
    .shape-3{ right: 36px; }
    .shape-4{ right: 0; top: 139px; border-left: 14px solid #D3BDA5; border-top: 14px solid #D3BDA5; border-bottom: 14px solid #D3BDA5; }

    .entry-intro{ text-align: center; padding: 60px 0 60px; }
    .entry-intro a{ color: #555; }
    
    .fade_hilight li{ width:196px; height:375px; float:left;  }
   

    